.accordion-button {
    font-size: 1.2rem;
}

.imgAcordion {
    margin: 4px;
    width: 100%;
    border: $boderImg;
}
.accordion {
    .accordion-item {
        background-color: transparent;
    }
}

.accordion-button {
    &:not(.collapsed) {
        color: $colorAcordion;
        background-color: $backgroundColorAcordion;
    }
}

.accordion-item {
    .accordion-button {
        background-color: transparent;
        height: 24px;
    }
}

.accordion-item {
    .accordion-header{
        .accordion-button {
            &:focus , &:not(.collapsed) {
                border-color: transparent;
                box-shadow: none;
            }
            &:focus {
                border-color: $borderColorAcordion;
            }
        }
    }
}

.parrafoAcordion {
    padding-left: 20px;
    margin-right: 20px;
}