footer{
    margin-top: 20px;
    padding:30px;
    background-color: $colorFooter;
}

.footerSuscribir {
    @include cajaFlex(row, space-between);
    .mb-3 {
        width: 73%;
    }
    .btn {
        height: 57px;
    }
}

.boxSocial {
    @include cajaGrid(2, 30px);
    a {
        text-align: center;
    }
}

.icono {
    width: 48px;
    background-color:  white;
    border: 5px solid white;
    border-radius: 50%;
    border-color: $colorIconFooter;
}

.footerCopy {
    margin-top: 20px;
    text-align: center;
}