.imgIndex {
    width: 80%;
    margin: 30px;
}

.imgFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.img-icon {
    margin-top: 50px;
    width: 30%;
}