.video {
    margin: 50px 60px 50px 60px;
}

.lista {
    margin: 20px 30px 30px 30px;
    padding-left: 60px;
}

.iframeVideo {
    width: 100%;
    height: 315px;
}

.flexPostre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}