$colorBody: bisque;
$colorHeader: rgb(204, 155, 250);
$colorFooter: rgb(204, 155, 250);
$colorIconFooter:  rgb(156, 22, 234);
$colorAcordion: #5f0ce4;
$backgroundColorAcordion: #f0e7ff;
$boderImg: 10px double green;
$borderColorAcordion: #cacef7;
$colorFont: black;